<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>


    <title>${title}</title>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>

    <link rel="shortcut icon" href="../../static/hAdmin/favicon.ico" th:href="@{/static/hAdmin/favicon.ico}"/> 
    <link rel="stylesheet" href="../../static/hAdmin/css/bootstrap.min.css?v=3.3.6" th:href="@{/static/hAdmin/css/bootstrap.min.css}"  />
    <link rel="stylesheet" href="../../static/hAdmin/css/font-awesome.css?v=4.4.0" th:href="@{/static/hAdmin/css/font-awesome.css}" />
    <link rel="stylesheet" href="../../static/hAdmin/css/animate.css" th:href="@{/static/hAdmin/css/animate.css}" />
    <link rel="stylesheet" href="../../static/hAdmin/css/style.css?v=4.1.0" th:href="@{/static/hAdmin/css/style.css}" />

</head>

<body class="gray-bg">
#if(${withHead})
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-sm-4">
            <h2>标题</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="#">主页</a>
                </li>
                <li>
                    <strong>包屑导航</strong>
                </li>
            </ol>
        </div>
        <div class="col-sm-8">
            <div class="title-action">
                <a href="empty_page.html" class="btn btn-primary">活动区域</a>
            </div>
        </div>
    </div>
#end
    <div class="wrapper wrapper-content">
        <div class="row">
            <div class="col-sm-12">
                <div class="middle-box text-center animated fadeInRightBig">
                    <h3 class="font-bold">这里是页面内容</h3>

                    <div class="error-desc">
                        您可以在这里添加栅格，参考首页及其他页面完成不同的布局
                        <br/><a href="#" class="btn btn-primary m-t">打开主页</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 全局js -->
    <script src="../../static/hAdmin/js/jquery.min.js?v=2.1.4" th:src="@{/static/hAdmin/js/jquery.min.js}"></script>
    <script src="../../static/hAdmin/js/bootstrap.min.js?v=3.3.6" th:src="@{/static/hAdmin/js/bootstrap.min.js}"></script>

    <!-- 自定义js -->

    
    

</body>

</html>
